table {
  width: auto;
  min-width: 100%;
  display: table;
}

.book .book-body .page-wrapper .page-inner section.normal table {
  overflow-x: auto;
  display: block;
  width: 100%;
}

.book .book-body .page-wrapper .page-inner {
  overflow-x: auto;
}